{% extends '_main_template.html' %}

{% block title %}Create Request{% endblock %}

{% block content %}

<script>
function changeRequestor() {
	var email = $('#editEmail').val()
	
	$.getJSON('/async?op=retrieve_requestor&email=' + email, function(requestor) {
			loadRequestsList(email);
			$('#editEmail').attr('disabled', true);
			$('#editName').val(requestor.name).attr('disabled', true);
			$('#editPhone').val(requestor.phone).attr('disabled', true);
			$('#editCompany').val(requestor.company).attr('disabled', true);
		});
}


function loadRequestsList(email) {
	$.ajax({
		url: '/async?op=list_requests&email=' + email,
		cache: false,
		success: function(html) {
			$("#requests_list").html(html);
		}
	});
}

</script>

<form method='post' action='/request/add'>
	<fieldset>
		<legend>Create new request</legend>
		
		<label for='editEmail'>Email address</label>
		<input type='text' id='editEmail' name='email'  onblur="changeRequestor()"/>
		<br/>
		
		<label for='listCategories'>Category</label>
		<select id='listCategories' name='category'>
			<option>Hardware</option>
			<option>Software</option>
			<option>Other</option>
		</select>
		<br/>
		
		<label for='editSubject'>Subject</label>
		<input type='text' id='editSubject' name='subject' />
		<br/>
		
		<label for='editNotes'>Notes</label>
		<textarea id='editNotes' rows='6' cols='40' name='notes'></textarea>
		<br/>
		<br/>
		
		<label for='editName'>Your Name</label>
		<input type='text' id='editName'  name='name'/>
		<br/>
		
		<label for='editPhone'>Your Phone</label>
		<input type='text' id='editPhone'  name='phone' />
		<br/>
		
		<label for='editCompany'>Your Company</label>
		<input type='text' id='editCompany'  name='company'' />
		<br/>
		
		<input type='submit' value='Create' />
		
	</fieldset>
</form>

<div id='requests_list'>Loading...</div>

{% endblock %}