{% extends '_main_template.html' %}

{% block title %}Create Request{% endblock %}

{% block content %}

<script>
function changeRequestor() {
	var email = $('#id_email').val()

	$.getJSON('/req/async?op=retrieve_requestor&email=' + email, function(requestor) {
		if (requestor != null) {
			$('#id_email').attr('readonly', true).addClass('disabled');
			$('#id_name').val(requestor.name).attr('readonly', true).addClass('disabled');
			$('#id_phone').val(requestor.phone).attr('readonly', true).addClass('disabled');
			$('#id_company').val(requestor.company).attr('readonly', true).addClass('disabled');
			$('#id_choose_email').show();
			
			$('#divRequests').show();

			$('#tblRequests').jqGrid({
				url: '/req/async?op=list_requests&email=' + email,
				datatype: 'json',
				autowidth: true,
				colNames: ['Requestor', 'Category', 'Subject', 'Submitted On'],
				colModel: [
					{name: 'requestor'},
					{name: 'category'},
					{name: 'subject'},
					{name: 'submitted_on', formatter: 'date', formatoptions: {srcformat:'ISO8601Long', newformat: 'FullDateTime'}}
				],
				rowNum: 10,
				rowList: [10,20,30],
				pager: '#divRequestsPager',
				sortname: 'submitted_on',
				viewrecords: true,
				sortorder: 'desc',
				caption: 'User Requests',
				jsonReader: {
					repeatitems: false
				}
			});
		}
	});
}


function loadRequestsList(email) {
	$.ajax({
		url: '/req/async?op=list_requests&email=' + email,
		cache: false,
		success: function(html) {
			$("#requests_list").html(html);
		}
	});
}

function changeEmail() {
	$('#id_name').val('').attr('readonly', false).removeClass('disabled');
	$('#id_phone').val('').attr('readonly', false).removeClass('disabled');
	$('#id_company').val('').attr('readonly', false).removeClass('disabled');
	$('#id_choose_email').hide();
	$('#id_email').val('').attr('readonly', false).removeClass('disabled').focus();
		
	$('#tblRequests').GridUnload();
	$('#divRequests').hide();
}

$(document).ready(function() {
	$('#id_email').after('<a href="#" id="id_choose_email" style="display:none" onclick="changeEmail()">Click to change</a>');
	
	var email = $('#id_email');
	if (email.val()) 
		changeRequestor();
	else
		changeEmail();
});
</script>

<form method='post' action='/req/request/add'>
	<fieldset>
		<legend>Create new request</legend>
		
		{% include '_form_template.html' %}
		<!-- 
		<label for='editEmail'>Email address</label>
		<input type='text' id='editEmail' name='email'  onblur="changeRequestor()" value="{{ requestor_values.email }}"/>
		<a href="#" id="linkChooseEmail" style="display:none" onclick="changeEmail()">Click to change</a>
		{{ requestor_errors.email }}
		<br/>
		
		<label for='listCategories'>Category</label>
		<select id='listCategories' name='form.category' >
			<option>Hardware</option>
			<option>Software</option>
			<option>Other</option>
		</select>
		<br/>
		
		<label for='editSubject'>Subject</label>
		<input type='text' id='editSubject' name='subject' value="{{ request_values.subject }}" />
		{{ request_errors.subject }}
		<br/>
		
		<label for='editNotes'>Notes</label>
		<textarea id='editNotes' rows='6' cols='40' name='notes' >{{ request_values.notes }}</textarea>
		{{ request_errors.notes }}
		<br/>
		<br/>
		
		<label for='editName'>Your Name</label>
		<input type='text' id='editName'  name='name'' value='{{ requestor_values.name }}'  />
		{{ requestor_errors.name }}
		<br/>
		
		<label for='editPhone'>Your Phone</label>
		<input type='text' id='editPhone'  name='phone' value='{{ requestor_values.phone }}' />
		{{ requestor_errors.phone }}
		<br/>
		
		<label for='editCompany'>Your Company</label>
		<input type='text' id='editCompany'  name='company'' value='{{ requestor_values.company }}' />
		{{ requestor_errors.company }}
		<br/>
		 -->
		<input type='submit' value='Create' />
		
	</fieldset>
</form>

<div id="divRequests"  style="width: 100%">
<table id="tblRequests" width="100%"></table>
<div id="divRequestsPager"></div>
</div>

{% endblock %}