<form method='post'>
	<div class='panel'>
		<div class='field'>		
			<label for="requestor">Requestor</label>
			<span id="requestor">{{ request.requestor }}</span>
		</div>
		
		<div class='field'>
			<label for="category">Category</label>
			<span id="requestor">{{ request.category }}</span>
		</div>

		<div class='field'>
			<label for="category">Subject</label>
			<span id="requestor">{{ request.subject }}</span>
		</div>

		<div class='field'>
			<label for="category">Notes</label>
			<span id="requestor">{{ request.notes }}</span>
		</div>
		
		<div class='field'>
			<label for="category">Status</label>
			<span id="requestor">{{ request.status }}</span>
		</div>
	</div>		
</form>
